<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avv.authentication">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Authentication">
        <activity android:name=".OthersProfile"></activity>
        <activity android:name=".Company_viewApplicants" />
        <activity android:name=".Company_viewjobs" />
        <activity android:name=".ApplyJob" />
        <activity android:name=".Student_viewjobs" />
        <activity android:name=".CompanyCreateJob" />
        <activity android:name=".CommonSignup" />
        <activity android:name=".StudentSignUp" />
        <activity android:name=".CompanySignup" />
        <activity android:name=".CompanyProfileActivity" />
        <activity android:name=".YourProfileActivity" />
        <activity android:name=".StudentProfile" />
        <activity android:name=".SignupPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>